#column {
  background-color: darkcyan;
  border-radius: 25px;
  margin-left: 5%;
}

#jumboTwo {
  height: 45px;
  margin-top: 3%;
  background-color: darkslategrey;
  margin-bottom: 3%;
  border-radius: 25px;
  display:;
}

#count {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: floralwhite;
}

#cont {
  background-color: cadetblue;
}

#cont-two {
  background-color: cadetblue;
}
a {
  color: floralwhite;
  font-weight: bold;
  font-size: large;
}

#header {
  margin-left: 15px;
  color:floralwhite;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#output {
  font-size: 18px;
  margin-left: 5px;
}

#column-two {
 text-align: right;
}

.bike {
  border: solid 3px black; 
  border-radius: 20px;
}



img {
  margin-left: 13px;
  height: 140px;
  width: 140px;
}